{% extends 'chat_app/base.html' %}


{% block css_1%}
      <link rel="stylesheet" type="text/css" href="/static/all_profile.css">  
{% endblock%}
<!-- ==================== All freinds ========================== -->
{% block profile%}
<div class="row mt-5">
	{% for user in allUserAvailable%}
    		<div class="py-3 text-center " style="max-width: 540px;">
			<div class="card">
				<div class="row ">
					<div class="col-sm-6">
						<img src="{{user.profile.picture.url }}">
					</div>
					<div class="col-sm-6">
						<a href="{% url 'chatUsers' user.pk %}">
							<div class="card-body">
								<h5 class="card-title">{{user.username}}</h5>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	{%endfor%}
    </div>
{% endblock%}
