{% extends 'chat_app/base.html' %}

{% block css_1%}
      <link rel="stylesheet" type="text/css" href="/static/all_profile.css">  
{% endblock%}

<!-- ================== profile ============================ -->
{% block profile%}
    <div class="row">
        {% for user in allUserAvailable%}
        <div class="col-sm-3 py-3">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'chatUsers' user %}">
                        <h5 class="card-title">{{user.username}}</h5>
                    </a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
{% endblock%}
