
{% extends 'chat_app/base.html'%}

{% block css_1%}
        <link rel="stylesheet" type="text/css" href="/static/home0.css">
{% endblock%}

{% block login%} 
    <h2>
        {% if logout %}
            {{logout}}
        {% endif%}
    </h2>
    <div class="mar-b">
    <fieldset>
        <legend text-info>Login</legend>
        <strong class="text-info">
            {% if user_dn_exist %}
                {{user_dn_exist}}
            {% endif%}
        </strong>
        <strong class="text-info">
            {% if user_password_dn_match %}
                {{user_password_dn_match}}
            {% endif%}
        </strong>
        <form method="post" action='login'>
        <div class="container-fluid">
            {%csrf_token%}
        {% for field in login_form%}
        
            <div class="row gx-4 container-fluid">
                {{ field.errors }}
                <div class="col-sm-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm-4 input-group">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="container-fluid login-bottom-m">
            <input type="submit" value="login" class="login">
        </div>  
        </div> 
        </form>
        <P class="create-ac"><a href="{% url 'user-register' %}">Create Account</a></P>
    </fieldset>
{% endblock%}

{% block scripts%}  
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <script type="text/javascript">

            $(document).ready(function(){
                $('#id_username').addClass('sadric');
                
                $('label').attr("id", "hi");

                $('label').addClass("col-sm-2 col-form-label");
                $('input').addClass("form-control-plaintext bg-light m-2");
                 $('.login').addClass("col-sm-2");
                 

                // alert($(".sadric").text());
                // $('.navbar-brand').addClass('sadric');// it's working :reload the page and inpect not view the page 'because it won't be available by viewing 
            });
            
        </script>
{% endblock%} 
