
{% extends 'chat_app/base.html'%}


{% block register%}
	<form method="post" action="">
		{% csrf_token %}
		<fieldset>
				<legend>Create Account</legend>
					{% for fields in register_form%}
				<div class="fields">
						{{fields.label_tag}}
						{{fields}}
						<!-- {% if fields.help_text%}
							<P class="helptext">{{fields.help_text}}</P>
						{% endif%} -->
						{% if fields.errors%}
							{% for er in fields.errors %}
							<P class="helptext">{{er}}</P>
							{% endfor%}
						{% endif%}
				</div>
					{% endfor%}

				<input type="submit" value="create" class="submit-buttom">
				<P>Already have acount? <a href="{% url 'login-to-home' %}">Login</a></P>
		</fieldset>
	</form>
{% endblock%}

{% block scripts%}  
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <script type="text/javascript">

            $(document).ready(function(){
                // $('.navbar-brand').addClass('sadric');
                // alert($(".sadric").text());
                // $('.navbar-brand').addClass('sadric');// it's working :reload the page and inpect not view the page 'because it won't be available by viewing 

            });
            
        </script>
{% endblock%} 
