
<!-- { % load static %} -->

{% extends 'chat_app/base.html'%}

{% block css_1%}
        <link rel="stylesheet" type="text/css" href="/static/register_css.css">
{% endblock%}

{% block register%}
<div class="container-fluid form-class text-center  form-color">
	<form method="post" action="">
		{% csrf_token %}
		<fieldset>
				<legend>Create Account</legend>
				<div class="container-fluid form-field">
						{% for fields in register_form%}
					<div class="row my-3">
						<div class="col-lg-3 mx-1">
							{{fields.label_tag}}
						</div>
						<div class="col-lg-3 ">
							{{fields}}
						</div>
							{% if fields.errors%}
								{% for er in fields.errors %}
								<P class="helptext">{{er}}</P>
								{% endfor%}
							{% endif%}
					</div>
						{% endfor%}
				</div>

					<input type="submit" value="create" class="submit-buttom">
					<P>Already have acount? <a href="{% url 'login-to-home' %}">Login</a></P>
		</fieldset>
	</form>
</div>
{% endblock%}

{% block scripts%}  
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <script type="text/javascript">

            $(document).ready(function(){
                
            });
            
        </script>
{% endblock%} 
