{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap style -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    {% block css_1%}
        
    {% endblock%}
    <!-- <link rel="stylesheet" type="text/css" href="/static/home.css"> -->
    
     <style type="text/css">
        .foot {
        background-color: #C5D6FF;
        text-align: center;
        min-width: auto;
        position: relative;
        }
        .navbar{
            position: fixed!important;
        }
    </style>
    <title>Welcome to DricoKing Corporation</title>
</head>
<body>
    <header>
        {% block nav_bar%}
            {% include 'chat_app/nav_bar.html'%}
        {% endblock%}
    </header>
    <!-- content block -->
    {% block content%}HELLO{% endblock %}

    <!-- register bloc -->
    {% block register%} {% endblock%}

    <!-- login block -->
    {% block login%} {% endblock%}

    <!-- chat with someone -->
    {% block chat%}{%endblock%} 

    {% block profile%}{% endblock%}

    {% block chats%}
    {%endblock%}
    
    {%block writter_bar%}
    {%endblock%}

    <footer class="fixed-bottom">
        <div class="foot" >Copyright &copy 2021</div>
    </footer> 
    {% block scripts%}  
    {% endblock%} 
</body>
</html>
















