
{% extends 'chat_app/base.html' %}

{% block css_1%}
      <link rel="stylesheet" type="text/css" href="/static/chatPage.css">  
{% endblock%}

{%block chats%}
	<section >
		<div class="container text-center message-container mb-0">
			<h1 class="hidden">{{request.user.username}}</h1>
		    <h1 id="welcome" class="text-center">CHAT WITH <em class="text-success">{{username|title}}</em></h1>

		    {% include 'chat_app/display_message.html'%}
	    </div>
	    <div class="container text-center message-container" id="new-message"></div>
    </section>

{% endblock%}

<!-- ================chat bar================== -->
{%block writter_bar%} 
	        {% include 'chat_app/chat_bar.html'%}
{%endblock%}
<!-- ================end Chat Bar================== -->


{% block scripts%} 

{{ username|json_script:"room-name" }}


<script src="/static/chat_with_user_js.js" type="text/javascript">
// $('.hidden').hide();

</script>
<script src="/static/websocket_js.js" type="text/javascript"> </script>


{% endblock%} 
