body{
	 background: #CCFAFE;
}


.container{
	margin-bottom: 2%;
}

.margin-botoom{
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.chat-form{
	/*width: =100%;*/
}

textarea{
	/*width: =100%;*/
}

.message-card{
	background-color: #F3FBD0;
	border-radius: 15px;
}

.message-container{
	/*width: 50%;*/

	/*margin:auto 30% auto;*/
}

.my-margin{
	margin-left: 200px!important;
	background-color: #84A9FF;
	/*width: 300px;*/
}	
.your-margin{
	margin-right: 200px!important;
	background-color: #3DC8FF;
	/*width: 300px;*/
}

.send-button{
	width: 100%!important;
	/*height: 100%!important;*/
	transform: translateY(61px);
	border-left: none;
	border-radius: 15px;

}

.send-button:hover{
	border-color: none;
}

#id_my_messages{
	scroll-behavior: none !important;
	height: 100px;
	outline: none;
	resize: none;
	background-color: #F3FDCD;
	padding: 0px!important;
	padding-left: 10px!important;
	border: 5px solid #376702;
	border-radius: 15px;

}
















