body{
	 background: #CCFAFE;
}


.container{
	margin-bottom: 2%;
}

.margin-botoom{
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.message-card{
	background-color: #F3FBD0;
	border-radius: 15px;
	max-width: 500px;
	margin-bottom:75px!important;
}

.message-container{

}

.my-margin{
	background-color: #84A9FF;
	margin-right: 20px!important;
}	

.your-margin{
	background-color: #3DC8FF;
	margin-left: 20px!important;
}

.send-button{
	width: 100%!important;
	/*height: 100%!important;*/
	transform: translateY(61px);
	border-left: none;
	border-radius: 15px;

}

.send-button:hover{
	border-color: none;
}

#id_my_messages{
	scroll-behavior: none !important;
	height: 100px;
	outline: none;
	resize: none;
	background-color: #F3FDCD;
	padding: 0px!important;
	padding-left: 10px!important;
	border: 5px solid #376702;
	border-radius: 15px;

}
















