body{
	background:url("learninAsfamilly.jpeg");
}

#hi, #id_password{
	color: white;
}

/*====================footer======================*/

/*============footer css================*/
.foot {
    background-color: #C5D6FF;
    text-align: center;
    min-width: auto;
    position: relative;
}

.mar-b{
	margin-top: 200px!important;
	margin-left: 20%!important;
	margin-right: 10%!important;
}

.login-bottom-m{
	margin-top:5px;
	width: 100px;
	/*margin-left: 0;*/
	margin-left: 10%!important;
	/*margin-bottom: 20px!important;*/
}

legend{
	color: white;
}

@media only screen and (max-width: 750px) {

  #id_username, #id_password, #hi{
    width: 90%!important;
    margin:5px!important;
  }
}

@media only screen and (min-width: 600px) {
  fieldset{

  	margin-left: 25%!important;
  	width: 400px!important;
  }

 #id_username, #id_password{
	width: 60%;
}

}


#hi, #id_username, #id_password{
	width: 100%;
}

#id_password{
	color: black;
}

fieldset{
	margin-right: 100px;
	border-radius: 10px;
	border: solid #254EDB 1px;
	background:#361D6E;
	width: 100%;

}

p{
	text-align: center;
}