strong{
    color: #ef0909;
}

fieldset{
    margin: 35%;
    margin-top: 15%;
    background-color: #79AF97;
}

#id_password, #id_username{
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
body{
    background-color: #96C4C2;
}

.create-ac{
    margin-left: 25%;
}

.login{
    margin-left:190px;
    background-color: #ECFDD7;
}